table{
    margin-left: 300px;

    
}
td, th {
  border: 2px solid black;
  width: 150px;
  height: 15px;
  padding: 15px;

}
.header{
    text-align: center;
}
.container{
    width: 1300px;

}

.del{
    background-color: red;
}
.tdred{
    background-color: red;
}